.login-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}


.input-box {
    margin-bottom: 10px;
}

.input-box input,
.input-box textarea{
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #871E23;
    background-color: #F1EBEB;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-box {
    text-align: right;
    margin-top: 30px;
}

.btn-box button {
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #F2A1B2;
    color: #ffffff;
    border: none;
    outline: none;
}
