*{
	padding: 0;
	margin:0;
	font-family: arial;
	box-sizing: border-box;

}
html{
	overflow-x: hidden;
}

a{
	text-decoration: none;
}
.container-fluid{
	width: 100%;
}
.container{
	width: 1280px;
	margin: 0  auto;
}


.top-hd{
	display: flex;
	width: 100%;	
	height: 28px;
	background-color: #f6f6f6;
}
.text-top-hd{
	font-size: 14px;
	color: #808080;
}
.text-top-hd a{
	color: #808080;
}

.flex-hd{
	display: flex;
	justify-content: space-between;
	height: 28px;
	align-items: center;
}
.flex-bt-hd{
	display: flex;
}
.bt-hd{
	display: flex;
	height: 90px;
	width: 100%;
	background-color: #f6f6f6;
}
.bt-hd .left-lg{
	width: 270px;
	height: 90px;
	margin-left: 55px;
	display: flex;
}
.bt-hd .left-lg #logo{
	width: 60px;
	height: 61px;
	margin: 14px 5px;
}
.bt-hd #slogan{
	width: 200px;
	height: 90px;
	display: flex;
	align-items: center;
}
.bt-hd #slogan span b{
	font-size: 13px;
}
.bt-hd .right{
	width: 470px;
	margin-right: 55px;
	margin-left: auto;
	display: flex;
}
.bt-hd .right #box1{
	width: 200px;
}
.bt-hd .right #box2{
	width: 130px;
}
.bt-hd .right #box3{
	width: 140px;
}
.bt-hd .right,.bt-hd .right #box1,.bt-hd .right #box2,.bt-hd .right #box3{
	height: 90px;
}
.bt-hd a{
	color: #000;
}
.right #icon1{
	display: flex;
	justify-content: center;
}
.right #icon1 img{
	margin-top: 10px;
}
.right  #box-insile span{
	display: flex;
	justify-content: center;
	margin-top: 7px;
}
.right span{
	font-size: 13px;
}
nav{
	height: 47px;
	width: 100%;
	background-color: #2a2d34;
	border-bottom: 3px solid #871e23;

}
nav .menu ul{
	display: flex;
	padding: 0 10px;
	list-style: none;
	height: 50px;
}

nav .menu ul li a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 47px;
	display: block;
	padding: 0 9px;
	transition: all 0.4s;

}
nav .menu ul li:nth-child(3),nav .menu ul li a:hover{
	background-color: #871e23;
}
nav .menu ul li a:hover{
	background-color: #871e23;
}
nav .menu{
	
	height: 47px;	
}

#box-bn{
	width: 1280px;
	height: 400px;
	background-color: black;
	position: relative;

}
#banner #box-bn .intro{
	width: 378px;
	height: 235px;
	
	position: absolute;
	top: 70px;
	bottom: 90px;
	left: 75px;
}
#banner #box-bn .intro .title{
	height: 80px;
}
#banner #box-bn .intro .title span{
	font-size: 30px;
	line-height: 45px;
	color: #f5f5f5;
}	
#banner #box-bn .intro .pra{
	margin-top: 33px;
	margin-bottom: 40px;
	height: 45px;
}
#banner #box-bn .intro .pra span{
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}
.btt button{
	border: none;
	width: 100px;
	height: 37px;
	background-color: #871e23;
	cursor: pointer;
	outline: none;
	color: #fff;
	font-size: 16px;
	transition: 0.4s;
}
.btt button:hover{
	background-color: #500200;
}
.option-pro{
	width: 270px;
	height: 268px;
	background-color: black;
	margin:20px 0 57px 55px;
}
.option-pro .title{
	width: 270px;
	height: 40px;
	background-color: #871e23;
	display: flex;

}
.option-pro .title .span-op{
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.title1{
	width: 270px;
	height: 40px;
	background-color: #a52a2a;

}

.option-pro .title .img-op {
	margin: 10px 17px 9px 10px;
}
.option-pro .title #option-pro{
	height: 40px;
	display: flex;
	align-items: center;
}
.option-pro .option{
	width: 270px;
	height: 228px;
	background-color: #2a2d34;
}
.option ul{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	list-style: none;
}
.option ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	margin-left: 10px;
	transition: all 0.5s;
}
.option ul li a:hover{
	padding-left: 10px;
	color: #871e23;
}

.img-ct-l{
	width: 270px;
	height: 374px;
	background: url('../Images/img-ct-lf1.jpg');
	
	margin-bottom: 20px;
}
.news{
	height: 440px;
	width: 270px;

}

.news .title1 div img{
	margin: 10px 17px 9px 10px;

}
.news .title1{
	display: flex;
	width: 270px;
	height: 40px;
	background-color: #871e23;

}

.option1{
	display: flex;
	flex-direction: column;
	height: 400px;
	background-color: #2a2d34;
	justify-content: space-around;
}
.news1,.news2,.news3,.news4,.news5{
	height: 41px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 9px;

}
.img-news{
	height: 58px;
	width: 70px;
    align-items: right;
	
}
.drep{
	width: 165px;
	margin-right: 7px;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	line-height: 24px;

}
.drep div span{
	font-size: 13px;
	color: #fff;
	transition: 0.3s;
}

.drep div a {
	color: #fff;
}
.drep div span:hover{
	color: #af5160;
}

#tt-option{
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.contact-phone{
	width: 270px;
	height: 270px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.find-fb{
	height: 250px;
	width: 270px;
	background-color: red;
	border-top: 1px solid #6786b3;
}
.img-ct-l,.find-fb,.contact-phone,.news{
	margin-left: 55px;
}
.find-fb img{
	width: 270px;
}

#flex-aside-content{
	display: flex;
	width: 1280px;
	background-color: #f6f6f6;
}
#main-content{
	height: 2263px;
	width: 870px;
	margin:20px 55px 15px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#ab-us{
	height: 200px;
	display: flex;
	border-radius: 2px;
	border: 1px solid #d3d3d3;
}
#img-ab-us{
	width: 270px;
}
#img-ab-us img{
	margin:10px 0 10px 10px;
}
#pra-ab-us{
	width: 660px;
}
#pra-ab-us p{
	margin-left: 30px;
	line-height: 32px;
	font-size: 14px;
}
#pra-ab-us p span{ 
	color: #b4282f;
}
#pra-ab-us p a{
	color: #b4282f;
	float: right;
	margin-right: 10px;
	text-decoration: none;
}
#box-pro1{
	height: 653px;
}

#box-pro1 #tt-pro1 span,#box-pro2 #tt-pro2 span,#box-pro3 #tt-pro3 span{
	font-size: 16px;
	font-weight: bold;
	width: 20px;
	display: inline;
	font-size: 16px;
	color: #847878;
	border-bottom: 2px solid #871e23;
	padding-bottom: 7px;


}
#box-pro1 #tt-pro1,#box-pro2 #tt-pro2,#box-pro3 #tt-pro3{
	height: 25px;
	width: 100%;
	
	display: flex;
	justify-content: center;
}
.pro-and-sex{
	height: 50px;
	width: 100%;
	
}
.sex{
	height: 25px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.sex a{
	font-size: 14px;
	color: #000;
}
.sex div a span{
	color: #871e23;
}
.img-pro img{
	border-radius: 6px
}
.fr-product{
	width: 270px;
	height: 260px;
	/*add*/
	border: 1px solid #cabdbd;
	border-radius: 6px;
}
.arr-product1{
	width: 100%;
	height: 260px;
	
	display: flex;
}
.arr-product2{
	width: 100%;
	height: 260px;

	display: flex;
	margin-top: 30px;
}
.img-pro{
	height: 215px;
	width: 100%;
}




.img-pro1,.img-pro2,.img-pro3,.img-pro4,.img-pro5,.img-pro6,.img-pro7,.img-pro8,.img-pro9,.img-pro10,.img-pro11,.img-pro12,.img-pro13,.img-pro14,.img-pro15,.img-pro16,.img-pro17,.img-pro18{
	width: 268px;
	height: 215px;
	border-radius: 6px;
}
.img-pro1{
	background:url('../Images/pro1.jpg') no-repeat;
	
}
.img-pro2{
	background:url('../Images/pro2.jpg') no-repeat;
}
.img-pro3{
	background:url('../Images/pro3.jpg') no-repeat;
}
.img-pro4{
	background:url('../Images/pro4.jpg') no-repeat;
}
.img-pro5{
	background:url('../Images/pro5.jpg') no-repeat;
}
.img-pro6{
	background:url('../Images/pro6.jpg') no-repeat;
}
.img-pro7{
	background:url('../Images/pro7.jpg') no-repeat;
}
.img-pro8{
	background:url('../Images/pro8.jpg') no-repeat;
}
.img-pro9{
	background:url('../Images/pro9.jpg') no-repeat;
}
.img-pro10{
	background:url('../Images/pro10.jpg') no-repeat;
}
.img-pro11{
	background:url('../Images/pro11.jpg') no-repeat;
}
.img-pro12{
	background:url('../Images/pro12.jpg') no-repeat;
}
.img-pro13{
	background:url('../Images/pro13.jpg') no-repeat;
}
.img-pro14{
	background:url('../Images/pro14.jpg') no-repeat;
}
.img-pro15{
	background:url('../Images/pro15.jpg') no-repeat;
}
.img-pro16{
	background:url('../Images/pro16.jpg') no-repeat;
}
.img-pro17{
	background:url('../Images/pro17.jpg') no-repeat;
}
.img-pro18{
	background:url('../Images/pro18.jpg') no-repeat;
}

.over-play img{
	width: 60px;
	transition: 0.4s;
}
.over-play{
	background-color: rgba(0,0,0,0.3);
	opacity: 0;
	transition: all 0.3s
}
.over-play:hover{
	opacity: 1;
}
.over-play:hover img{
	transform: scale(1.3);
}
.over-play{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}





.tt-pro{
	height: 45px;
	width: 100%;
}
.tt-pro div span{
	display: flex;
	flex-direction: column;
	height: 45px;
	justify-content: center;
	align-items: center;
}
.tt-pro div span a{
	color: #847878;
	transition: all 0.3s;
}
.tt-pro div span a:hover{
	font-weight: 550;
}
.tt-pro a span{
	color: #847878;
	transition: all 0.3s;
}
.tt-pro div a span:hover{
	font-weight: 550;

	transition: all 0.3s;

}
.pro-botttom{
	margin-top: 18px;
	height: 35px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pro-botttom a{
	text-decoration: none;
	width: 130px;
	height: 35px;

	font-size: 16px;
	padding: 8px;
	border:1px solid #d7d7d7;
	color: #000;
}
.pro-botttom a:hover{
	background-color: #871e23;
	color: #fff;
}

#box-pro2{
	height: 653px;
	
}
#box-pro3{
	height: 652px;
}
.top-ft{
	height: 94px;
	width: 100%;
	margin-bottom: 15px;
}
#item-dn{
	display: flex;
	align-items: center;
}
#title-ft{
	height: 35px;
	width: 100%;
	background-color: #f6f6f6;
	
}
#title-ft span{
	margin-left: 37px;
	color: #847878;
	font-weight: bold;
}
#donor{
	width: 1280px;
	height: 60px;
	
	display: flex;
	justify-content: center;
}
#donor .donors{
	height: 60px;
	width: 1170px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.top-ft-seach{
	width: 100%;
	height: 60px;
	background: #871e23;
}
.text-top-ft{
	font-style: 17px;
	color: #f5f5f5;
	margin-left: 55px;
}
.box-top-ft form{
	margin-right: 55px;
}
.box-top-ft{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#form-seach{
	margin-right: 55px;
	margin-left: auto;
}
form input{
	background: #a12f35;
	border-color: #ab2128;
	color: #a29595;

}
form{
	display: flex;
}
form a{
	background-color: #a12f35;
	padding: 9px 13px 10px 13px;	
	color: white;
	font-size: 14px;

}
form a:hover{
	background-color: #ab2128;
}
form input{
	width: 230px;
	height: 37px;
	outline: none;
	font-size: 16px;
	text-indent: 8px;
}
.main-ft{
	width: 100%;
	height: 313px;
	background-color: #2a2d34;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box-mainft{
	width: 1170px;
	height: 310px;
	border-bottom: 1px solid #fff; 
	display: flex;
}
.box-mainft ul li {
	list-style: none;
}
.box-mainft ul li a{
	color: #fff;
	font-size: 15px;
	transition: all 0.3s ;
}
.box-mainft ul li a:hover{
	padding-left: 5px;
	color: #871e23;
}

#main-ft3 ul li {
	font-size: 16px;
	color: #fff;
}
#main-ft3 ul{
	display: flex;
	flex-direction: column;
	height: 53px;
	justify-content: space-between;
}
#main-ft1 ul,#main-ft2 ul{
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#main-ft1{
	width: 300px;
}
#main-ft1,#main-ft2,#main-ft3{
	height: 225px;
	margin-top: 30px;
}
#main-ft2{
	width: 300px;
}
#main-ft3{
	width: 300px;
}
#main-ft4{
	width: 270px;
	margin-top: 28px;
	height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
#main-ft4 div span{
	color: #fff;
	font-weight: bold;
}
#ip-capcha,#ip-email,textarea{
	outline: none;
	text-indent: 10px;
	color: #9ea2ad;
	background: #3a3d46;
}
#ip-email{
	width: 270px;
	height: 32px;
}
textarea{
	resize: none;
	width: 100%;
	height: 100px;
}
#ip-capcha{
	width: 100px;
	height: 32px;
}
#Capcha{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
#capcha span{

	text-align: center;
	color: #fff;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.btn-submit{
	background-color: #a12f35;
	align-items: center;
	padding: 8px 15px;
	color: #fff;
}
.btn-submit:hover{
	background-color: rgb(171, 33, 40);

}
.bootom-ft{
	height: 55px;
	width: 100%;
	
}
.box-bt-ft{
	width: 1170px;
	height: 55px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center; 

}
.box-bt-ft span{
	color: #f5f5f5;
}
.icon-ct{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #871e23;
	display: flex;
	justify-content: center;
	align-items: center;
}
.width-img{
	width: 13px;
}
.box-icon-ct{
	display: flex;
	justify-content: space-between;
	width: 105px;
}
.icon-ct a:hover img{
	transform: rotate(360deg);
	transition: all 0.4s;
}

.box-news{
	background: #f6f6f6;
	height: 1100px;
	display: flex;
	width: 1280px;
	margin: 0 auto;
	height: 1120px;
}
.box-news .box{
	width: 921px;
	height: 1100px;
	margin: 0 auto;
	margin-top: 10px;
	box-shadow:  0 0 5px grey;
}
.main-news{
	width: 80%;
}
.new-more{
	width: 20%;
}

.box .new{
	width: 100%;
	height: 210px;
	border-bottom: 1px dotted #ccc;


	display: flex;
}
.new .img-new{
	width: 30%;
	height: 100%;

}
.drep1{
	width: 70%;
	height: 90%;
	display: flex;
	margin-left: 10px;
	margin-top: 10px;
	flex-direction: column;
}
.img-new img{
	margin: 10px;
}
.img-new img{
	width: 223px;
	height: 188px;
}
.date-Action img{
	position: relative;
	top: 3px;
	left: 5px;
}
.date-Action{
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.new h4 a{
	color: #000;
}
.new h4 a:hover{
	color: #871e23;
}

.new > div > img:hover{
	transform: scale(1.03);

}
.see-more a {
	color: #000;
}
.see-more a:hover{
	color:#871e23
}
.new-more h4{
	margin: 9px 0px 0px 5px;
}
.box-nm{
	height: 70px;
	margin-top:10px;
	display: flex;
}
.new-more h6{
	font-size: 12px;
	line-height: 19px;
	margin-left: 7px;

}
.keyword h3{
	margin-top: 25px;
}
.box-keyword{
	width: 256px;
	margin-top: 25px;
	
}
.box-keyword .row1 div:hover,.box-keyword .row2 div:hover,.box-keyword .row3 div:hover,.box-keyword .row4 div:hover,.box-keyword .row5 div:hover,.box-keyword .row6 div:hover{
	border:1px dashed #d61c1f
}
.box-keyword .row1 div,.box-keyword .row6 div,.box-keyword .row2 div,.box-keyword .row3 div,.box-keyword .row4 div,.box-keyword .row5 div{
	height: 34px;
	display: inline;
	margin-left: 3px;
	padding: 3px;
	border: 1px solid ;
}
.row1 , .row2, .row3, .row4 ,.row5,.row6{
	margin-bottom: 5px;
}
.img-nm{
	margin-top: -13px;
	margin-left: 7px;
}
.box-nm h6:hover{
	color:#871e23
}
.box-nm img:hover{
	transform: scale(1.03);
}
.pagnation div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 37px;
	height: 35px;
	margin-right: 5px;
	border: 1px solid #ccc;
}
.pagnation  div:nth-child(2){
	background-color: #a7a1a1;
}
.pagnation  div a{
	color: black;
}